[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
codecov = "*"
pytest-asyncio = "*"
jupyter = "*"

[packages]
httpx = ">=0.8.0"
privex-helpers = ">=2.6.0"
attrs = "*"
privex-coinhandlers = "*"
privex-db = ">=0.9.1"


[requires]
python_version = "3.8"
